In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Housing[1].csv')
print(df.shape)
df

(545, 13)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [2]:
df.replace('yes',1, inplace=True)
df.replace('no',0, inplace=True)
df.replace('furnished',1,inplace=True)
df.replace('unfurnished',0,inplace=True)
df.replace('semi-furnished',0.5, inplace=True)
print(df)
(df.corr()['price']).sort_values()

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

     basement  hotwaterheating  airconditioning  parking  prefarea  \
0           0                0                1        2         1
1           0                0                1        3         0
2           1                0                0        2         1
3           1                0                1        3         1
4           1                0                1        2         0
..        ...              ...              ...      ...       ...
540         1                0                0        2         0
541         0                0                0        0         0
542         0                0                0        0         0
543         0                0                0        0         0
544         0                0                0        0         0

     furnishingstatus
0                 1.0
1                 1.0
2                 0.5
3                 1.0
4                 1.0
..                ...
540               0.0
541               0.5
542               0.0
543               1.0
544               0.0

[545 rows x 13 columns]

hotwaterheating     0.093073
basement            0.187057
guestroom           0.255517
mainroad            0.296898
furnishingstatus    0.304721
prefarea            0.329777
bedrooms            0.366494
parking             0.384394
stories             0.420712
airconditioning     0.452954
bathrooms           0.517545
area                0.535997
price               1.000000
Name: price, dtype: float64

In [3]:
y=df['price']
df.drop(['price'],axis=1,inplace=True)
x=df
print(x)
print(y)

     area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
0    7420         4          2        3         1          0         0
1    8960         4          4        4         1          0         0
2    9960         3          2        2         1          0         1
3    7500         4          2        2         1          0         1
4    7420         4          1        2         1          1         1
..    ...       ...        ...      ...       ...        ...       ...
540  3000         2          1        1         1          0         1
541  2400         3          1        1         0          0         0
542  3620         2          1        1         1          0         0
543  2910         3          1        1         0          0         0
544  3850         3          1        2         1          0         0

     hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
0                  0                1        2         1               1.0
1                  0                1        3         0               1.0
2                  0                0        2         1               0.5
3                  0                1        3         1               1.0
4                  0                1        2         0               1.0
..               ...              ...      ...       ...               ...
540                0                0        2         0               0.0
541                0                0        0         0               0.5
542                0                0        0         0               0.0
543                0                0        0         0               1.0
544                0                0        0         0               0.0

[545 rows x 12 columns]
0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [4]:
mn=y.min()
mx=y.max()
y=(y-mn)/(mx-mn)
y

0      1.000000
1      0.909091
2      0.909091
3      0.906061
4      0.836364
         ...
540    0.006061
541    0.001485
542    0.000000
543    0.000000
544    0.000000
Name: price, Length: 545, dtype: float64

In [5]:
print(mn,mx)

1750000 13300000

In [10]:
for i in range(12):
    mn=x.iloc[:,i].min()
    mx=x.iloc[:,i].max()
    x.iloc[:,i]=(x.iloc[:,i]-mn)/(mx-mn)
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,1.0
1,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,1.0
2,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.5
3,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,1.0
4,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.092784,0.2,0.000000,0.000000,1.0,0.0,1.0,0.0,0.0,0.666667,0.0,0.0
541,0.051546,0.4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.5
542,0.135395,0.2,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
543,0.086598,0.4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0
544,0.151203,0.4,0.000000,0.333333,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [17]:
m=(y.shape)[0]
w=[1]*12
b=0
predict=x.dot(w)+b
print(predict)
e=predict-y
print(e)
e=e.dot(e)
print(e)
e=e/(2*m)
print(e)
w_temp=[0]*12
for i in range (12):
    w_temp[i]=w[i]-0.01/m*(predict-y).dot(x.iloc[:,i])
b_temp=b-0.01/m*(predict-y).sum()
w=w_temp
b=b_temp
print(w)
print(b)

0      6.663230
1      7.102405
2      5.804467
3      7.668729
4      6.996564
         ...
540    2.959450
541    0.951546
542    1.335395
543    1.486598
544    1.884536
Length: 545, dtype: float64
0      5.663230
1      6.193315
2      4.895376
3      6.762668
4      6.160200
         ...
540    2.953390
541    0.950062
542    1.335395
543    1.486598
544    1.884536
Length: 545, dtype: float64
7667.32440966488
7.034242577674202
[0.9907593324445604, 0.9857343126025411, 0.9957246990758813, 0.9892759482164881, 0.9682627928875438, 0.9908469409502191, 0.9843516926763138, 0.9981062164633185, 0.9854913518126502, 0.9902502843809322, 0.9886277905528376, 0.9812354084577927]
-0.03416156760186754

In [ ]:
import matplotlib.pyplot as plt
w=[1]*12
b=0
w_temp=[0]*12
m=(df.shape)[0]
cost=[]
epochs=[]
for i in range(1000):
    print(i)
    predict=x.dot(w)+b
    e=predict-y
    e=e.dot(e)
    e=e/(2*m)
    print(cost)
    cost.append(e)
    epochs.append(i)
    for i in range(12):
        w_temp[i]=w[i]-0.01/m*(predict-y).dot(x.iloc[:,i])
    b_temp=b-0.01/m*(predict-y).sum()
    w=w_temp
    b=b_temp
plt.plot(epochs,cost)
plt.show()